/* align-items: center; */
/* wrap - переход на следующую строку если не хвает места */
/* align-items - определяет поведение вдоль поперечной оси */
/* justify-content - определяет выравнивание вдоль основной оси */
/* align-self - переопределяет выравнивание */
/* order - порядок вывода */
/* flaex-basis - базовый размер элемента */
/* flex-grow - возможность увеличиваться в размере */
/* flex-shrink - возможность уменьшаться в размере */
/* flex: basis grow shrink; */
/* flex-direction - устанавливает основную ось */

/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/




body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper{
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}
.content{
  flex: 1 1 auto;
}
.hi{
  background-color:#445162 ;
  padding: 50px 0;
}
.hi__row{
  display: flex;
  justify-content: space-between;
}
.hi__body{
  color: #fff;
  padding: 0px 30px 0px 0px;
}
.hi__title{
  text-shadow: 1px 1px 0 rgba(0,0,0, 0.3);
  font-size: 60px;
  margin: 0px 0px 38px 0px ;
}
.hi__list{}
.hi__list li{
  background: url(/css/img/check\ icon.png) 0 1px no-repeat;
  text-shadow: 1px 1px 0 rgba(0,0,0, 0.3);
  font-size: 20px;
  line-height: 22px;
  padding: 0px 0px 0px 36px;
  margin: 0px 0px 15px 0px;
}
.hi__list li:last-child{
  margin: 0;
}
.title{
  color: #445161;
  font-size: 30px;
  line-height: 36px;
}
.what{
padding: 50px 0;
}
.what__row{
  display: flex;
}
.what__title{
  margin: 0px 0px 33px 0px;
}
.what__image{
flex: 0 0 430px;
}
.what__image img{
  max-width: 100%;
}
.what__body{
  flex: 1 1 auto;
  padding: 0px 0px 0px 38px;
}
.what__text{

}
.what__text p{
  margin: 0px 0px 25px 0px;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}
.columns{
  background-color:#f5f5f5;
  padding: 50px 0 20px 0;
}
.columns__title{
  text-align: center;
	margin: 0px 0px 30px 0px;
}
.columns__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}
.columns__column {
  padding: 0 8px;
	flex: 0 1 50%;
	margin: 0px 0px 30px 0px;
}
.item__row{
  display: flex;
 
}
.item__image{
 flex: 0 0  200px;
}
.item__body{
  flex: 1 1 auto;
  padding: 0px 0px 0px 15px;
}
.item__title{
  color: #445161;
	font-size: 24px;
  margin: 0px 0px 13px 0px;
  line-height: 30px;
}
.item__text{
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}



.footer{
background-color: #f5f5f5;
}
.footer__row{
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
}
.footer__text{
  color: #445162;
  font-size: 12px;
  letter-spacing: 0.3px;
}