.block{

}
.block__row{
display: flex;
align-items: center;
/* wrap - переход на следующую строку если не хвает места */
/* align-items - определяет поведение вдоль поперечной оси */
/* justify-content - определяет выравнивание вдоль основной оси */
  border: 20px solid #ece89d;
  margin: 0px 0px 20px 0px;
}
.block__column{
  border: 20px solid #5e5373;
  /* flex-basis: 500px;
  flex-grow: 1;
  flex-shrink: 1; */
  /* flex: 0 1 auto; */
}
.block__item{
  background-color: #18b5a4;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}



/* align-self - переопределяет выравнивание */
/* order - порядок вывода */
/* flaex-basis - базовый размер элемента */
/* flex-grow - возможность увеличиваться в размере */
/* flex-shrink - возможность уменьшаться в размере */
/* flex: basis grow shrink; */

.block__column_1{
/* align-self: flex-start; */
/* order: 3; */



}
.block__column_2{
/* order: 2; */



}
.block__column_3{
/* align-self: flex-end; */
/* order: 1; */


}